.panelBody{
    padding: 15px;
    background-color: wheat;
    border-radius: 10px;
    width: 400px !important;
   
}

.rowPad{
    padding: 5px;
}

.input.Css{
    font-size: 10pt;
    text-align: right !important;

}

.resultCss{
    font-size: 10pt;
    text-align: right !important;
    font-weight: bold;
    color: black !important;
}

.heading{
    color: lightblue;
}



